<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 		
 		<styles>
 		</styles>
	</head>

	<body>
		<div class="titulo">
			<h1>Añadir Participante</h1>
		</div>
		  <div class="buscador">
		  		<form id="buscador" th:action="@{/buscarParticipante/{id}(id=${procesion.id})}" th:object="${participante}" method="post">
		  			<input type="text" th:field="*{dni}" placeholder="Introduce DNI" id="barrabuscador">
                                        <input type="submit" value="buscar"/>
		  		</form>
		  </div>    
    	
    	<div class="formulario">
    		<form action="#" th:action="@{/nuevoParticipante/{id}(id=${procesion.id})}" th:object="${participante}" method="post" id="formParticipante">
                    <input type="text" th:field="*{nombre}" placeholder="Nombre" /> <!-- th:value="${}" -->
                    <input type="text" th:field="*{apellidos}" placeholder="Apellidos"/>
                    <input type="text" th:field="*{numHermano}" placeholder="Nº hermano"/>
                    <input type="text" th:field="*{dni}" placeholder="DNI"/>
                    <input type="text" th:field="*{telefono}" placeholder="Teléfono"/>
                    <input type="text" th:field="*{email}" placeholder="email"/>
                    <label for="fechanac"  value="Fecha de nacimiento"/>
                    <input type="date" th:field="*{fechaNac}" name="fechanac"/>
                    <label for="fechanac" value="Fecha de alta de hermano"/>
                    <input type="date" th:field="*{fechaHermano}" name="fechaAlta"/>
                    <input type="submit" value="registrar participante">                  
                </form>
            
            <form id="formParticipacion" action="#" th:object="${participacion}" th:action="@{/nuevaParticipacion/presencial/{idParticipante}(idParticipante=${participante.id})}"  method="post"> 
                <input  list="secciones"  name="secciones"  th:field="*{nombreSeccion}" placeholder="Seccion" /> <!-- type="${seccion}" -->
                        <datalist id="secciones" >                         
                             <option th:each="seccion:${procesion.secciones}" th:value="${seccion.nombre}"/>                                                
                        </datalist>
                        
    			<input list="tipo" name="tipo" th:field="*{tipo}" placeholder="Tipo"/>
                        
                        <datalist id="tipo">
                            <option value="Nazareno vela"/>
                            <option value="Monaguillo"/>
                            <option value="Cirial"/>
                            <option value="Turiferario"/>
                            <option value="Portador"/>
                        </datalist>
                        
                        
    			<input type="text" th:field="*{talla}" placeholder="Talla"/>
    			<input type="text" th:field="*{tunica}" placeholder="Túnica"/>
    			<input type="text" th:field="*{cingulo}" placeholder="Cíngulo"/>
    			<input type="text" th:field="*{capirote}" placeholder="Capirote"/>

                        <input type="submit" value="submit">
    			
           
                        <!-- <input type="button" value="Registrar" id="submitformularios"/> -->
                         </form>
    	</div>	
		
	</body>
        <script>
          var botonsubmit = document.getElementById("submitformularios").addEventListener( 'click', function () {
              
              document.getElementById(formParticipante).submit(); //ANTES DE CREAR HAY QUE COMPROBAR QUE NO EXISTA YA. SI EXISTE PERO TIENE DATOS ACTUALIZADOS HABRÍA QUE SOBREESCRIBIR
             // document.getElementById(formParticipacion).submit();    
          });
            
            
            
            
        var input = document.getElementById("barrabuscador");
        
        input.addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter") {
              document.getElementById("buscador").submit();
              event.preventDefault();
              // Trigger the button element with a click
              document.getElementById("myBtn").click();
            }
          });
        </script>
            
</html>