<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link rel="stylesheet" href="../styles/estilos.css">
	</head>

	<body>
		<div class="bloqueCentral">
			<h1 th:text="${titulo}"> Crear una Nueva Procesion </h1>
                         <form action="#" th:action="@{/nueva}" th:object="${procesion}" method="post">
				<div class="seccionFormulario">
                               <input type="hidden" id="edit" th:value="${edit}"/>
                               <input type="hidden" th:field="*{id}"/>
			      <label for="nombre">Nombre:</label><br>
			      <input type="text" th:field="*{nombre}"/><br>
			     </div>
			    <div class="seccionFormulario">
			      <label for="fecha">Fecha:</label><br>
			      <input type="date" id="datefield" min='1899-01-01' th:field="*{fecha}"/><br>
			    </div>
		      	<div class="seccionFormulario">
			      <label for="numSecciones">Número de secciones:</label><br>
			      <input type="number" id="numSecciones" name="numSecciones" min="1" th:field="*{numSecciones}"><br>
			    </div>

		      <div class="submitFormulario">
          <input type="submit" value="Submit">
        </div>
    		</form>
		</div>
	</body>
        
        <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
               dd = '0' + dd;
            }

            if (mm < 10) {
               mm = '0' + mm;
            } 

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("datefield").setAttribute("min", today);
            
            
            
            if (document.getElementById('edit').equals(true)) {
            document.getElementById('numSecciones').readOnly = true;                
            
            }
            
            //document.getElementById("numSecciones").defaultValue = "1";
        </script>
</html>