<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 		
 		<styles>
 		</styles>
	</head>

	<body>
		<div class="titulo">
			<h1>Añadir Participante</h1>
		</div>
		  <div class="buscador">
		  		<form id="buscador" th:action="@{/buscarParticipante/{id}(id=${procesion.id})}" th:object="${participante}" method="post">
		  			<input type="text" th:field="*{dni}" placeholder="Introduce DNI" id="barrabuscador">
                                        <input type="submit" value="buscar"/>
		  		</form>
		  </div>    
    	
    	<div class="formulario">
    		<form action="#" th:action="@{/nuevoParticipante/{id}(id=${procesion.id})}" method="post" id="formParticipante">
                    <input type="text" th:field="*{participante.nombre}" placeholder="Nombre" /> <!-- th:value="${}" -->
                    <input type="text" th:field="*{participante.apellidos}" placeholder="Apellidos"/>
                    <input type="text" th:field="*{participante.numHermano}" placeholder="Nº hermano"/>
                    <input type="text" th:field="*{participante.dni}" placeholder="DNI"/>
                    <input type="text" th:field="*{participante.telefono}" placeholder="Teléfono"/>
                    <input type="text" th:field="*{participante.email}" placeholder="email"/>
                    <label for="fechanac"  value="Fecha de nacimiento"/>
                    <input type="date" th:field="*{participante.fechaNac}" name="fechanac"/>
                    <label for="fechanac" value="Fecha de alta de hermano"/>
                    <input type="date" th:field="*{participante.fechaHermano}" name="fechaAlta"/>
                    <!--<input type="submit" value="registrar participante">                           -->
                    <input  list="secciones"  name="secciones"  th:field="*{participacion.nombreSeccion}" placeholder="Seccion" /> <!-- type="${seccion}" -->
                        <datalist id="secciones" >                         
                             <option th:each="seccion:${procesion.secciones}" th:value="${seccion.nombre}"/>                                                
                        </datalist>       
    			     <input list="tipo" name="tipo" th:field="*{participacion.tipo}" placeholder="Tipo"/> 
                        <datalist id="tipo">
                            <option value="Nazareno vela"/>
                            <option value="Monaguillo"/>
                            <option value="Cirial"/>
                            <option value="Turiferario"/>
                            <option value="Portador"/>
                        </datalist>                           
        			<input type="text" th:field="*{participacion.talla}" placeholder="Talla"/>
        			<input type="text" th:field="*{participacion.tunica}" placeholder="Túnica"/>
        			<input type="text" th:field="*{participacion.cingulo}" placeholder="Cíngulo"/>
        			<input type="text" th:field="*{participacion.capirote}" placeholder="Capirote"/>

                    <input type="submit" value="submit">
    		        
                         
                </form>
           
    	</div>	
		
	</body>
        <script>
          //var botonsubmit = document.getElementById("submitformularios").addEventListener( 'click', function () {
             
            submitForms = function(){
              console.log("Clic registrado");
              document.getElementById("formParticipante").submit(); //ANTES DE CREAR HAY QUE COMPROBAR QUE NO EXISTA YA. SI EXISTE PERO TIENE DATOS ACTUALIZADOS HABRÍA QUE SOBREESCRIBIR
              document.getElementById("formParticipacion").submit();    
          }
                       
            
        var input = document.getElementById("barrabuscador");
        
        input.addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter") {
              document.getElementById("buscador").submit();
              event.preventDefault();
              // Trigger the button element with a click
              document.getElementById("myBtn").click();
            }
          });
        </script>
            
</html>